.Event {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 30px;
  margin-bottom: 16px;
  text-align: center;
}

.Event figure,
h5 {
  margin: 0 0;
}

.Title {
  font-weight: bold;
}

.Heart {
  color: #f832b6;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #2142b2;
}

.Check {
  color: green;
}

.CheckOutline:hover {
  color: #2142b2;
}

.Interested {
  color: red;
}

.InterestedOutline:hover {
  color: #2142b2;
}
